<!DOCTYPE html>
<html>
  <head>
    <title>Footman: Create Competition</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' >
    <script src="/javascripts/competition.js" defer="true" crossorigin="anonymous"></script>
    <script src="/javascripts/default.js" defer="true" crossorigin="anonymous"></script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <%- include('partials/header') %>
    <h2>Create Competition</h2>
    <form action="" method="POST" >
        <div>
            <label for="name">Name:</label>
            <input id="name" name="name" type="text" required="true" <% if(typeof name !== 'undefined'){%> value="<%= name %>" <%}%>>
            <% if((typeof errors !== 'undefined') && ( typeof errors.name !== 'undefined')){%> 
                <div class="error">
                    <span><%= errors.name.msg %></span>
                </div> <%}%> 
            
        </div>
        <div>
             <label for="teams">Teams:</label>
             <% if(teams.length > 0){
                teams.sort(); %>
                <div>
                    <label for="apply_points">Apply points and rankings?</label>
                    <input id="apply_points" type="checkbox"  <% if((typeof points !== 'undefined')){%> checked=true <%}%>>
                    
                    <label for="apply_ranking">Apply rankings?</label>
                    <input id="apply_ranking" type="checkbox"  <% if((typeof rankings !== 'undefined')){%> checked=true <%}%>>
                </div>  
                <button type="button" class="choose">Open Team Selection</button>
                <% if((typeof errors !== 'undefined') && ( typeof errors.rankings !== 'undefined')){%> 
                    <div class="error">
                        <span><%= errors.rankings.msg %></span>
                    </div> <%}%> 
                <% if ((typeof errors !== 'undefined') && ( typeof errors.points !== 'undefined')){  %> 
                    <div class="error">
                        <span><%= errors.points.msg %></span>
                    </div><% }%>    
             <dialog aria-labelledby="choiceTitle" class="hidden" >
                <span id="choiceTitle">Teams</span>
                <% for(let team of teams){ 
                    const rawName = team.split(' ');
                    const teamId = rawName.join('');
                    %>
                    <div>
                        <div>
                            <label for="<%= teamId %>"><%= team %></label>
                            <input id="<%= teamId %>" name="chosenTeams" type="checkbox" value="<%= team %>" <% if((typeof chosenTeams !== 'undefined') && chosenTeams.includes(team)){%> checked=true <%}%>>
                        </div>
                        <div>
                            <label for="<%= teamId %>_rankings">Ranking:</label>
                            <select id="<%= teamId %>_rankings" data-team="<%= team %>" name="rankings" <% if(typeof rankings === 'undefined'  || !chosenTeams || !chosenTeams.includes(team)){%> disabled="true" <%}%>>
                                <% teams.forEach((teamName,index)=>{%>
                                    <option value="<%= index + 1 %>"  <% if( (typeof rankings !== 'undefined') && chosenTeams.includes(team) && (rankings[chosenTeams.indexOf(team)] === index + 1)){%> selected='true' <%}%>><%= index + 1 %></option>
                                <%})%>
                            </select>
                        </div>
                        <div>
                            <label for="<%= teamId %>_points">Points:</label>
                            <input id="<%= teamId %>_points" data-team="<%= team %>" type="number" name="points"  <% if((typeof points !== 'undefined') && chosenTeams && chosenTeams.includes(team)){%> value='<%= points[chosenTeams.indexOf(team)] %>'<%}else{%> disabled="true"<%}%>>
                        </div>
                    </div>
                <%}%>
                <div class="closeChoose">
                    <button type="button">Ready</button>
                </div>
             </dialog><%}
              else{%>
                   <span>No teams available</span>
             <%}%>   
        </div>
        <div>
            <label for="season">Seasons:</label>
            <select id="season" name="season">
                <% for(let single_season of seasons){ %>
                    <option value="<%= single_season %>" <% if( (typeof season !== 'undefined') && season === single_season){%> selected=true <%}%>><%= single_season %></option>
                <%}%>
            </select>
        </div>
        <footer>
            <button type="submit">Submit New Competition</button>
        </footer>
    </form>
  </body>
</html> 