<!DOCTYPE html>
<html>
  <head>
    <title>Footman: Create Competition</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/competition.js" defer="true" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Create Competition</h1>
    <form action="/competitions" method="POST">
        <div>
            <% if((typeof errors !== 'undefined') && ( typeof errors.name !== 'undefined')){%> <span><%= errors.name.msg %></span> <%}%> 
            <label for="name">Name:</label>
            <input id="name" name="name" type="text" <% if(typeof name !== 'undefined'){%> value="<%= name %>" <%}%>>
        </div>
        <div>
             <label for="teams">Teams:</label>
             <% if(teams.length > 0){%>
             <div>
                <label>Apply rankings?</label>
                <input id="apply_ranking" type="checkbox"  <% if((typeof rankings !== 'undefined')){%> checked=true <%}%>>
            </div>
            <div>
                <label>Apply points?</label>
                <input id="apply_points" type="checkbox"  <% if((typeof points !== 'undefined')){%> checked=true <%}%>>
             </div>    
             <div>
                <% if((typeof errors !== 'undefined') && ( typeof errors.rankings !== 'undefined')){%> <span><%= errors.rankings.msg %></span> <%}%> 
                <% for(let team of teams){ %>
                    <label for="chosenTeams"><%= team %></label>
                    <input id="<%= team %>" name="chosenTeams" type="checkbox" <% if((typeof chosenTeams !== 'undefined') && chosenTeams.includes(team)){%> checked=true <%}%>>
                    <label for="rankings">Ranking:</label>
                    <select class="<%= team %>" name="rankings" <% if(typeof rankings === 'undefined'){%> disabled="true" <%}%>>
                        <% teams.forEach((team,index)=>{%>
                            <option value="<%= index + 1 %>"  <% if( (typeof rankings !== 'undefined') && chosenTeams.includes(team) && (rankings[chosenTeams.indexOf(team)] === index + 1)){%> selected='true' <%}%>><%= index + 1 %></option>
                        <%})%>
                    </select>
                    <label for="points">Points:</label>
                    <input class="<%= team %>" type="number" name="points"  <% if((typeof points !== 'undefined') && chosenTeams.includes(team)){%> value='<%= points[chosenTeams.indexOf(team)] %>'<%}else{%> disabled="true"<%}%>>
                <%}%>
             </div><%}
              else{%>
                   <span>No teams available</span>
             <%}%>   
        </div>
        <div>
            <label for="season">Seasons:</label>
            <select id="season" name="season">
                <% for(let single_season of seasons){ %>
                    <option value="<%= single_season %>" <% if( (typeof season !== 'undefined') && season === single_season){%> selected=true <%}%>><%= single_season %></option>
                <%}%>
            </select>
        </div>
        <footer>
            <button type="submit">Submit New Competition</button>
        </footer>
    </form>
  </body>
</html> 