<!DOCTYPE html>
<html>
  <head>
    <title>Footman: Create Competition</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/competition.js" defer="true" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Create Competition</h1>
    <form action="" method="POST">
        <div>
            <% errors && errors.name ? %> <span><%= errors.name.msg %></span><% : false %>
            <label for="name">Name:</label>
            <input id="name" name="name" type="text">
        </div>
        <div>
             <label for="teams">Teams:</label>
             <% if(teams.length > 0){%>
             <div>
                <label>Apply rankings?</label>
                <input id="apply_ranking" type="checkbox">
            </div>
            <div>
                <label>Apply points?</label>
                <input id="apply_points" type="checkbox">
             </div>    
             <div>
                <% for(let team of teams){ %>
                    <label for="chosenTeams"><%= team %></label>
                    <input id="<%= team %>" name="chosenTeams" type="checkbox" <% if(chosenTeams && chosenTeams.includes(team)){%> checked=true <%}%>>
                    <label for="rankings">Ranking:</label>
                    <select name="rankings" disabled="true">
                        <% teams.forEach((team,index)=>{%>
                            <option value="<%= index + 1 %>"><%= index + 1 %></option>
                        <%})%>
                    </select>
                    <label for="points">Points:</label>
                    <input type="number" name="points" disabled="true">
                <%}%>
             </div><%}
              else{%>
                   <span>No teams available</span>
             <%}%>   
        </div>
        <div>
            <label for="season">Seasons:</label>
            <select id="season" name="season">
                <% for(let single_season of seasons){ %>
                    <option value="<%= single_season %>" <% if(season && season === single_season){%> selected=true <%}%>><%= single_season %></option>
                <%}%>
            </select>
        </div>
        <footer>
            <button type="submit">Submit New Competition</button>
        </footer>
    </form>
  </body>
</html> 