<!DOCTYPE html>
<html>
  <head>
    <title>Footman: Create Team</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0"> 
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="/javascripts/default.js" defer="true" crossorigin="anonymous"></script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <%- include('partials/header') %>
    <h2>Create Team</h2>
    <form action="" method="POST"> 
        <div>
            <label for="name">Name:</label>
            <input id="name" name="name" type="text" required="true" <% if(typeof name !== 'undefined'){%> value="<%= name %>" <%}%>>
            <% if((typeof errors !== 'undefined') && ( typeof errors.name !== 'undefined')){%> 
                <div class="error">
                    <span><%= errors.name.msg %></span>
                </div> <%}%> 
        </div>
        <div>
             <label for="competitions">Competitions:</label>
             <% if(competitions.length > 0){
                competitions.sort();%> 
                <button type="button" class="choose">Open Competition Selection</button>      
             <dialog aria-labelledby="choiceTitle" class="hidden">
                <span id="choiceTitle">Competitions</span>
                <% for(let competition of competitions){
                    const rawName = competition.split(' ');
                    const compId = rawName.join('');%>
                    <div>
                        <label for="<%=compId %>"><%= competition %></label>
                        <input id="<%=compId %>" name="chosenCompetitions" type="checkbox" value="<%= competition %>" <% if((typeof chosenCompetitions !== 'undefined') && chosenCompetitions.includes(competition)){%> checked=true <%}%>>
                    </div>
                <%}%>
                <div class="closeChoose">
                    <button type="button">Ready</button>
                </div>
             </dialog><%}
              else{%>
                   <span>No competitions available</span>
             <%}%>   
        </div> 
        <div>
            <label for="season">Seasons:</label>
            <select id="season" name="season">
                <% for(let single_season of seasons){ %>
                    <option value="<%= single_season %>" <% if( (typeof season !== 'undefined') && season === single_season){%> selected=true <%}%>><%= single_season %></option>
                <%}%>
            </select> 
        </div> 
        <footer>
            <button type="submit">Submit New Team</button>
        </footer>
    </form>
  </body>
</html> 