<!DOCTYPE html>
<html>
  <head>
    <title>Footman: <%= name %></title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/see.js" defer="true" crossorigin="anonymous"></script>
    <script src="/javascripts/default.js" defer="true" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include('partials/header') %>
    <h2> <%= name %></h2>
    <div>
        <% if(team){%>
          <p>
            <span>Team: </span>
            <a href="/team/<%= teamUrl %>"><%= team %></a>
          </p>
        <%}else {%>
          <p> Team: Free</p>
        <%}%>
        <p> Nationality: <%= nationality %></p>
        <p> Position: <%= position %></p>
        <p> Age: <%= age %></p>
        <p> Goals: <%= goals ? goals : 'unknown' %></p>
        <p> Assists: <%= assists ? assists : 'unknown' %></p>
        <p> Speed: <%= speed ? speed : 'unknown' %></p>
        <p> Strength: <%= strength ? strength : 'unknown' %></p>
        <p> Attack: <%= attack ? attack : 'unknown' %></p>
        <p> Defense: <%= defense ? defense : 'unknown' %></p>
        <p> Goalkeeping: <%= goalkeeping ? goalkeeping : 'unknown' %></p>
        <p> Intelligence: <%= intelligence ? intelligence : 'unknown' %></p>
        <p> Technique: <%= technique ? technique : 'unknown' %></p>
    </div>
    <div id="formContainer">
      <form action="?_method=DELETE" method="POST">
        <button type="submit">Delete Player</button>
      </form>
    </div>    
  </body>
</html>