<!DOCTYPE html>
<html>
  <head>
    <title>Footman: <%= name %></title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/see.js" defer="true" crossorigin="anonymous"></script>
    <script src="/javascripts/default.js" defer="true" crossorigin="anonymous"></script>
  </head>
  <body>
      <%- include('partials/header') %>
    <main>
      <h2> <%= name %></h2>
      <section>
        <h3>Personal Details:</h3>
        <div>
          <% if(team){%>
            <p>
              <span>Team: </span>
              <a href="/team/<%= teamUrl %>"><%= team %></a>
            </p>
          <%}else {%>
            <p> Team: Free</p>
          <%}%>
          <p> Nationality: <%= nationality %></p>
          <p> Position: <%= position %></p>
          <p> Age: <%= age %></p>
        </div>
      </section>
      <section>
          <h3>Available Stats:</h3>
          <div>
            <p>Goals: <%= goals ? goals : '-' %></p>  
            <p> Assists: <%= assists ? assists : '-' %></p>
          </div>
          <div>
            <h4>Estimated ability rated on a range between 1 and 20:</h4>
            <p> Speed: <%= speed ? speed : '-' %></p>
            <p> Strength: <%= strength ? strength : '-' %></p>
            <p> Attack: <%= attack ? attack : '-' %></p>
            <p> Defense: <%= defense ? defense : '-' %></p>
            <p> Goalkeeping: <%= goalkeeping ? goalkeeping : '-' %></p>
            <p> Intelligence: <%= intelligence ? intelligence : '-' %></p>
            <p> Technique: <%= technique ? technique : '-' %></p>
          </div>
      </section>
    </main>
    <aside>
      <div>
        <a href="/player/<%=firstName%>.<%=lastName%>.<%=code%>/edit">Update Player</a>
      </div>
      <div id="formContainer">
        <form action="?_method=DELETE" method="POST">
          <button type="submit">Delete Player</button>
        </form>
      </div>
    </aside>    
  </body>
</html>