<!DOCTYPE html>
<html>
  <head>
    <title>Footman: <%= name %></title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/see.js" defer="true" crossorigin="anonymous"></script>
    <script src="/javascripts/default.js" defer="true" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include('partials/header') %>
    <h2> <%= name %></h2>
    <section>
      <div>
          <h3>Competitions</h3>
          <% if( (typeof competitions !== 'undefined') && competitions.length > 0){
              competitions.forEach((competition, competitionIndex) => {%>
                  <p>
                    <a href="/competition/<%= competitionUrls[competitionIndex] %>"><%=competition %></a>
                  </p>
              <%})
                }    
              else {%>
                  <div>
                      <span>No competitions available at the moment.</span>
                  </div>
              <%}%>
      </div>
    </section>
    <section>
      <div>
        <h3>Players</h3>
        <% if( (typeof players !== 'undefined') && players.length > 0){
            players.forEach((player,playerIndex) => {%>
                <p>
                  <a href="/player/<%= playerUrls[playerIndex] %>"><%=player %></a>
                </p>
            <%})
              }    
            else {%>
                <div>
                    <span>No players available at the moment.</span>
                </div>
            <%}%>
        </div>
    </section> 
    <div id="formContainer">
      <form action="?_method=DELETE" method="POST">
        <button type="submit">Delete Team</button>
      </form>
    </div>
    <div>
      <a href="/team/<%=name%>.<%=code%>/edit">Update Team</a>
    </div>
  </body>
</html>