<!DOCTYPE html>
<html>
  <head>
    <title>Footman: Update Player</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Update Player</h1>
    <form action="" method="POST">
        <div>
            <% if((typeof errors !== 'undefined') && ( typeof errors.firstName !== 'undefined')){%> <span><%= errors.firstName.msg %></span> <%}%> 
            <label for="firstName">First Name:</label>
            <input id="firstName" name="firstName" type="text" value=<%="firstName"%>>
        </div>
        <div>
            <% if((typeof errors !== 'undefined') && ( typeof errors.lastName !== 'undefined')){%> <span><%= errors.lastName.msg %></span> <%}%> 
            <label for="lastName">Last Name:</label>
            <input id="lastName" name="lastName" type="text" value=<%="lastName"%>>
        </div>
        <div>
            <%- include{'partials/nationalities', {nationality: nationality}}%>
        </div>
        <div>
            <label for="age">Age:</label>
            <input id="age" name="age" type="number" min="15" max="45" value=<%="age"%>>
        </div>
        <div>
            <select id="position" name="position">
                 <option value="Goalkeeper" <% if( position === 'Goalkeeper'){%>selected='true'<%}%>>Goalkeeper</option> 
                 <option value="Defender" <% if( position === 'Defender'){%>selected='true'<%}%>>Defender</option>
                 <option value="Midfielder" <% if( position === 'Midfielder'){%>selected='true'<%}%>>Midfielder</option>
                 <option values="Forward" <% if( position === 'Forward'){%>selected='true'<%}%>>Forward</option>
            </select>
        </div>
        <div>
            <label for="goals">Goals:</label>
            <input id="goals" name="goals" type="number" min="0" <% if(typeof goals !== 'undefined'){%> value="<%= goals %>" <%}%>>
        </div>
        <div>
            <label for="assists">Assists:</label>
            <input id="assists" name="assists" type="number" min="0" <% if(typeof assists !== 'undefined'){%> value="<%= assists %>" <%}%>>
        </div>
        <div>
            <label for="speed">Speed:</label>
            <input id="speed" name="speed" type="number" min="1" max="20" <% if(typeof speed !== 'undefined'){%> value="<%= speed %>" <%}%>>
        </div>
        <div>
            <label for="strength">Strength:</label>
            <input id="strength" name="strength" type="number" min="1" max="20" <% if(typeof strength !== 'undefined'){%> value="<%= strength %>" <%}%>>
        </div>
        <div>
            <label for="attack">Attack:</label>
            <input id="attack" name="attack" type="number" min="1" max="20" <% if(typeof attack !== 'undefined'){%> value="<%= attack %>" <%}%>>
        </div>
        <div>
            <label for="defense">Defense:</label>
            <input id="defense" name="defense" type="number" min="1" max="20" <% if(typeof defense !== 'undefined'){%> value="<%= defense %>" <%}%>>
        </div>
        <div>
            <label for="goalkeeping">Goalkeeping:</label>
            <input id="goalkeeping" name="goalkeeping" type="number" min="1" max="20" <% if(typeof goalkeeping !== 'undefined'){%> value="<%= goalkeeping %>" <%}%>>
        </div>
        <div>
            <label for="intelligence">Intelligence:</label>
            <input id="intelligence" name="intelligence" type="number" min="1" max="20" <% if(typeof intelligence !== 'undefined'){%> value="<%= intelligence %>" <%}%>>
        </div>
        <div>
            <label for="technique">Technique:</label>
            <input id="technique" name="technique" type="number" min="1" max="20" <% if(typeof technique !== 'undefined'){%> value="<%= technique %>" <%}%>>
        </div>
        <div>
             <label for="teams">Teams:</label>
             <% (typeof errors !== 'undefined') && ( typeof errors.team !== 'undefined') ? %> <span><%= errors.team.msg %></span><% : false %>
             <% if(teams.length > 0){%>    
             <div>
                <% for(let single_team of teams){ %>
                    <div>
                        <label for="team"><%= single_team %></label>
                        <input id="<%= single_team %>" name="team" type="checkbox" <% if((typeof team !== 'undefined') && team === single_team){%> checked=true <%}%>>
                    </div>
                <%}%>
             </div><%}
              else{%>
                   <span>No teams available</span>
             <%}%>   
        </div>
        <div>
            <label for="season">Seasons:</label>
            <% (typeof errors !== 'undefined') && ( typeof errors.season !== 'undefined') ? %> <span><%= errors.season.msg %></span><% : false %>
            <select id="season" name="season">
                <% for(let single_season of seasons){ %>
                    <option value="<%= single_season %>" <% if( (typeof season !== 'undefined') && season === single_season){%> selected=true <%}%>><%= single_season %></option>
                <%}%>
            </select>
        </div>
        <footer>
            <button type="submit">Submit Updated Player</button>
        </footer>
    </form>
  </body>
</html> 